<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% if language == 'zh-cn' %}重置您的密码{% elif language == 'zh-tw' %}重置您的密碼{% else %}Reset Your Password{% endif %}</title>
</head>
<body>
  <p>{% if language == 'zh-cn' %}我们收到了重置密码的请求。请点击以下链接创建新密码：{% elif language == 'zh-tw' %}我們收到了重置密碼的請求。請點擊以下鏈接創建新密碼：{% else %}We have received a password reset request. Please click the following link to create a new password:{% endif %}</p>
  <a href="{{ retrieve_password_link }}">{% if language == 'zh-cn' %}重置密码链接{% elif language == 'zh-tw' %}重置密碼鏈接{% else %}Reset Password Link{% endif %}</a>
  <p>{% if language == 'zh-cn' %}该请求将在 30 分钟后失效。{% elif language == 'zh-tw' %}該請求將在 30 分鐘後失效。{% else %}This request will expire in 30 minutes.{% endif %}</p>
  <p>{% if language == 'zh-cn' %}如果您未请求更改密码，则您的账户未作任何更改。{% elif language == 'zh-tw' %}如果您未請求更改密碼，則您的賬戶未作任何更改。{% else %}If you did not request a password change, then no changes have been made to your account.{% endif %}</p>
  <p>{% if language == 'zh-cn' %}致以最真诚的问候，{% elif language == 'zh-tw' %}致以最真誠的問候，{% else %}With sincere regards,{% endif %}</p>
  <p>{% if language == 'zh-cn' %}AK团队{% elif language == 'zh-tw' %}AK團隊{% else %}AK Team{% endif %}</p>
</body>
</html>
