{% if language == 'zh-cn' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>重置您的密码</title>
</head>
<body>
  <p>我们收到了重置密码的请求。请点击以下链接创建新密码：</p>
  <a href="{{ retrieve_password_link }}">重置密码链接</a>
  <p>该请求将在 30 分钟后失效。</p>
  <p>如果您未请求更改密码，则您的账户未作任何更改。</p>
  <p>致以最真诚的问候，</p>
  <p>AK团队</p>
</body>
</html>
{% elif language == 'zh-tw' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>重置您的密碼</title>
</head>
<body>
  <p>我們收到了重置密碼的請求。請點選以下連結建立新密碼：</p>
  <a href="{{ retrieve_password_link }}">{{ retrieve_password_link }}</a>
  <p>該請求將在 30 分鐘後失效。</p>
  <p>如果您未請求更改密碼，則您的賬戶未作任何更改。</p>
  <p>致以最真誠的問候，</p>
  <p>AK團隊</p>
</body>
</html>
{% else %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reset Your Password</title>
</head>
<body>
  <p>We received a request to reset your password. Please create a new password by clicking this link:</p>
  <a href="{{ retrieve_password_link }}">{{ retrieve_password_link }}</a>
  <p>This request will expire in 30 minutes.</p>
  <p>If you did not request this change, no changes have been made to your account.</p>
  <p>Best regards,</p>
  <p>The AK Team</p>
</body>
</html>
