{% if language == 'zh-cn' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>账号安全升级通知邮件</title>
</head>
<body>
    <p>{{ source }} 账号安全升级通知：</p>
    <p>尊敬的用户，</p>
    <p>为保障您的账号安全和隐私，我们已对 {{ source_all }} 平台会员账号系统进行了全面的安全升级。</p>
    <p>根据最新的安全标准，您需要在升级后的首次登录时，进行密码重新设置。请按照以下步骤进行密码重置：</p>
    <p>1、登录您注册时使用的邮箱账号。</p>
    <p>2、打开我们发送给您的邮件。</p>
    <p>3、点击邮件中的重置密码链接。</p>
    <p>4、遵循页面上的提示，设置一个新的密码。请确保选择强密码，包括字母、数字和特殊字符的组合。</p>
    <p>5、完成密码重置后，您即可使用新密码登录我们的会员网站。</p>
    <p>如有任何问题或安全疑虑，请及时联系我们的客服团队，我们将竭诚为您解答和协助。</p>
    <p>感谢您的理解与合作</p>
    <p>致以最真诚的问候，</p>
    <p>AK团队</p>
</body>
</html>
{% elif language == 'zh-tw' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>账号安全升级通知邮件</title>
</head>
<body>
    <p>{{ source }} 账号安全升级通知：</p>
    <p>尊敬的用户，</p>
    <p>为保障您的账号安全和隐私，我们已对 {{ source_all }} 平台会员账号系统进行了全面的安全升级。</p>
    <p>根据最新的安全标准，您需要在升级后的首次登录时，进行密码重新设置。请按照以下步骤进行密码重置：</p>
    <p>1、登录您注册时使用的邮箱账号。</p>
    <p>2、打开我们发送给您的邮件。</p>
    <p>3、点击邮件中的重置密码链接。</p>
    <p>4、遵循页面上的提示，设置一个新的密码。请确保选择强密码，包括字母、数字和特殊字符的组合。</p>
    <p>5、完成密码重置后，您即可使用新密码登录我们的会员网站。</p>
    <p>如有任何问题或安全疑虑，请及时联系我们的客服团队，我们将竭诚为您解答和协助。</p>
    <p>感谢您的理解与合作</p>
    <p>致以最真诚的问候，</p>
    <p>AK团队</p>
</body>
</html>
{% else %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>账号安全升级通知邮件</title>
</head>
<body>
    <p>{{ source }} 账号安全升级通知：</p>
    <p>尊敬的用户，</p>
    <p>为保障您的账号安全和隐私，我们已对 {{ source_all }} 平台会员账号系统进行了全面的安全升级。</p>
    <p>根据最新的安全标准，您需要在升级后的首次登录时，进行密码重新设置。请按照以下步骤进行密码重置：</p>
    <p>1、登录您注册时使用的邮箱账号。</p>
    <p>2、打开我们发送给您的邮件。</p>
    <p>3、点击邮件中的重置密码链接。</p>
    <p>4、遵循页面上的提示，设置一个新的密码。请确保选择强密码，包括字母、数字和特殊字符的组合。</p>
    <p>5、完成密码重置后，您即可使用新密码登录我们的会员网站。</p>
    <p>如有任何问题或安全疑虑，请及时联系我们的客服团队，我们将竭诚为您解答和协助。</p>
    <p>感谢您的理解与合作</p>
    <p>致以最真诚的问候，</p>
    <p>AK团队</p>
</body>
</html>
{% endif %}
