<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Account Security Upgrade Notice</title>
</head>
<body>
    <p>{{ source }}  Account Security Upgrade Notice：</p>
    <p>Dear user,</p>
    <p>In order to protect your account security and privacy, we have implemented a comprehensive security upgrade to the {{ source_all }}  platform member account system.</p>
    <p>Please follow the steps below to reset your password:</p>
    <p>1. Login with the email account you used during registration.</p>
    <p>2. Open the email we sent you.</p>
    <p>3. Click the password reset link in the email.</p>
    <p>4. Follow the prompts on the page to set a new password. Please make sure to choose a strong password that includes a combination of letters, numbers, and special characters.</p>
    <p>5. Once you have successfully reset your password, you can use the new password to login to our member website.</p>
    <p>If you have any questions or security concerns, please don't hesitate to contact our customer service team. We are dedicated to providing you with answers and assistance.</p>
    <p>Thank you for your understanding and cooperation.</p>
    <p>Best regards,The AK Team</p>
</body>
</html>
