{% if language == 'zh-cn' or language == 'zh' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>创建您的AK账号</title>
</head>
<body>
  <p>要完成创建您的 AK 账户，请点击以下链接确认您的电子邮件地址：</p>
  <a href="{{ verification_link }}">{{ verification_link }}</a>
  <p>该请求将在 30 分钟后失效。</p>
  <p>致以最真诚的问候，</p>
  <p>AK团队</p>
</body>
</html>
{% elif language == 'zh-tw' or language == 'tc' or language == 'zh-CHT'%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>创建您的AK账号</title>
</head>
<body>
    <p>要完成创建您的 AK 账户，请点击以下链接确认您的电子邮件地址：</p>
    <a href="{{ verification_link }}">{{ verification_link }}</a>
    <p>该请求将在 30 分钟后失效。</p>
    <p>致以最真诚的问候，</p>
    <p>AK团队</p>
</body>
</html>
{% else %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>创建您的AK账号</title>
</head>
<body>
    <p>要完成创建您的 AK 账户，请点击以下链接确认您的电子邮件地址：</p>
    <a href="{{ verification_link }}">{{ verification_link }}</a>
    <p>该请求将在 30 分钟后失效。</p>
    <p>致以最真诚的问候，</p>
    <p>AK团队</p>
</body>
</html>
{% endif %}
