{% if language == 'zh-cn' or language == 'zh' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>创建您的AK账号</title>
</head>
<body>
  <p>要完成创建您的 AK 账户，请点击以下链接确认您的电子邮件地址：</p>
  <a href="{{ verification_link }}">{{ verification_link }}</a>
  <p>该请求将在 30 分钟后失效。</p>
  <p>致以最真诚的问候，</p>
  <p>AK团队</p>
</body>
</html>
{% elif language == 'zh-tw' or language == 'tc' or language == 'zh-CHT'%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>建立你的AK賬號</title>
</head>
<body>
    <p>要完成建立您的 AK 賬戶，請點選以下連結確認您的電子郵件地址：</p>
    <a href="{{ verification_link }}">{{ verification_link }}</a>
    <p>該請求將在 30 分鐘後失效。</p>
    <p>致以最真誠的問候，</p>
    <p>AK團隊</p>
</body>
</html>
{% else %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create your AK account</title>
</head>
<body>
    <p>To finish creating your DigitalOcean account, confirm your email address by clicking this link:</p>
    <a href="{{ verification_link }}">{{ verification_link }}</a>
    <p>This request will expire in 30 minutes.</p>
    <p>Best regards,</p>
    <p>The AK Team</p>
</body>
</html>
{% endif %}
